body {
  display: flex;
  background: #c4bbc0;
  justify-content: center;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 2%;
  width: 600px;
  height: 450px;
  background: none;
}

.head {
  position: absolute;
  top: 5%;
  left: 39%;
  width: 22%;
  height: 27%;
  background: #7b83e3;
  border-radius: 5%;
}

.eye-left {
  position: absolute;
  top: 12%;
  left: 19%;
  width: 25%;
  height: 36%;
  background: black;
  border-radius: 50%;
}

.eye-right {
  position: absolute;
  top: 17%;
  right: 19%;
  width: 23%;
  height: 35%;
  background: black;
  border-radius: 50%;
  transition: all 1s;
}

.eye-right:hover{
  top: 17%;
  right: 19%;
  width: 5%;
  height: 5%;
  background: black;
  border-radius: 100%;
}

.hair-left {
  position: absolute;
  top: -35%;
  left: 41%;
  width: 5%;
  height: 42%;
  background:#d6d172;
  z-index: -1;
  transform: rotate(-25deg);
}

.hair-right {
  position: absolute;
  top: -21%;
  right: 41%;
  width: 5%;
  height: 22%;
  background: #d6d172 ;
  z-index: -1;
  transform: rotate(25deg);
}

.hair-top-left {
  position: absolute;
  top: -42%;
  left: 27%;
  width: 17%;
  height: 17%;
  background: #009efd;
  border-radius: 50%;
}

.hair-top-right {
  position: absolute;
  top: -36%;
  right: 29%;
  width: 17%;
  height: 17%;
  background: #009efd;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 61%;
  left: 29%;
  width: 42%;
  height: 17%;
  background: none;
  border-radius: 50%;
  border-bottom: solid 4px black;
}

.ear-bar  {
  position: absolute;
  top: 34%;
  left: -9%;
  width: 120%;
  height: 31%;
  background: #009efd;
  z-index: -1;
}


.neck {
  position: absolute;
  top: 32%;
  left: 47.5%;
  width: 5%;
  height: 6%;
  background: #d6d172 ;
  border-radius: 10%;
}

.upper-body {
  position: absolute;
  top: 37%;
  left: 35%;
  width: 30%;
  height: 36%;
  background: #7b83e3;
  border-radius: 5%;
}

.hand-left {
  position: absolute;
  top: 52%;
  left: 17%;
  width: 23%;
  height: 8%;
  background: #7b83e3;
  border-radius: 15%;
  z-index: -1;
  transform: rotate(-40deg);
}

.hand-right {
  position: absolute;
  top: 52%;
  right: 17%;
  width: 23%;
  height: 8%;
  background: #009efd ;
  border-radius: 15%;
  z-index: -1;
  transform: rotate(40deg);
}

.leg-left {
  position: absolute;
  top: 70%;
  left: 41%;
  width: 8%;
  height: 25%;
  background:#009efd ;
  border-radius: 15%;
}

.leg-right {
  position: absolute;
  top: 70%;
  right: 41%;
  width: 8%;
  height: 25%;
  background:#009efd ;
  border-radius: 15%;
}

.shoe-left {
  position: absolute;
  top: 81%;
  left: -45%;
  width: 150%;
  height: 34%;
  background: #424235;
}

.shoe-right {
  position: absolute;
  top: 81%;
  right: -45%;
  width: 150%;
  height: 34%;
  background: #424235;
}



